@media screen and (max-width:700px) {
    /* Ajustes para telas menores que 700px */
    .content_contato{
        left: 12px;
        right: 12px;
        width: auto;
        padding: 12px;
        max-width: calc(100% - 40px);
    }
}